body {
    background-color: black;
    color: white;
    /* ← This makes ALL text inside white! */
    font-family: Arial, sans-serif;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-container {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border: 8px solid rgb(126, 0, 0);
    background-color: red;
    opacity: 0.5;
    margin: 40px auto;
}

.simple-centerer {
    display: flex;
    align-items: center;
    justify-content: center;
}